@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --footer-bg-color: #777;


}

/* 
@font-face {
    font-family: 'Metropolis';
    src: url('./assets/fonts/Metropolis-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Metropolis';
    src: url('./assets/fonts/Metropolis-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Metropolis';
    src: url('./assets/fonts/Metropolis-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Bellefair';
    src: url('./assets/fonts/Bellefair-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Antonio';
    src: url('./assets/fonts/Antonio-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Antonio';
    src: url('./assets/fonts/Antonio-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Antonio';
    src: url('./assets/fonts/Antonio-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Antonio';
    src: url('./assets/fonts/Antonio-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;

} */


html,
body {
    font-family: 'Metropolis', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 1440px;
    background-color: #000;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

body {
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pbr {
    border: 1px solid red;

}



/*----------------Mobile Menu-----------------*/

.menu {
    visibility: hidden;
    display: none;
    width: 100vw;
    height: 0;
    /* overflow: hidden; */
    background-color: #fff;

}

.menu.active {
    display: block;
    visibility: visible;
    height: max-content;

}

@media screen and (min-width:1280px) {
    .menu {
        visibility: visible;
        margin-top: 0;
        position: relative;
        height: auto;
        display: block;
    }

    .menu.active {
        height: max-content;
    }
}






.links-transitions {
    transition: font-weight 1s ease-in;

}

@media screen and (min-width:1080px) {
    .links-transitions::after {
        background-color: rgb(237, 44, 73);
        bottom: -4px;
        content: "";
        height: 2px;
        left: 0px;
        position: absolute;
        transform: scaleX(0);
        transition: transform 0.3s ease 0s;
        width: 100%;
    }

    .links-transitions:hover::after {
        transform: scale(1);
    }
}

/*----------------Carousel-----------------*/


.gradient-carousel {
    background: rgb(0, 0, 0);
    background: linear-gradient(177deg, rgba(0, 0, 0, 1) 2%, rgba(0, 0, 0, 0.603448275862069) 20%, rgba(0, 0, 0, 0.5086206896551724) 50%, rgba(0, 0, 0, 0.43534482758620685) 79%, rgba(0, 0, 0, 0.7413793103448276) 98%);

}



.carousel div {
    border: none;
    border-radius: 0;
}

.carousel button.group {
    display: none;

}

.arrow {
    animation: arrow 4s infinite;
}

@keyframes arrow {

    from {
        transform: translateX(0%);
    }

    50% {

        transform: translateX(50%);
    }

    to {
        transform: translateX(0%);
    }
}

.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    padding: 10px;
    border: 1px solid #ffffff20;

}



.link-gradient {
    background: rgb(59, 130, 246);
    background: to right, rgb(56, 189, 248) 0%, rgb(59, 130, 246);
}

#date-time-input::-webkit-calendar-picker-indicator {
    all: unset;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-image: url('/public/images/calendar.svg');
    color: white;


}

/*----------------Table Responsive-----------------*/
/* inspired by: https://css-tricks.com/responsive-data-tables/ */
.responsiveTable {
    width: 100%;
}

.responsiveTable td .tdBefore {
    display: none;
}

@media screen and (max-width: 40em) {
    /*
      Force table elements to not behave like tables anymore
      Hide table headers (but not display: none;, for accessibility)
    */

    .responsiveTable table,
    .responsiveTable thead,
    .responsiveTable tbody,
    .responsiveTable th,
    .responsiveTable td,
    .responsiveTable tr {
        display: block;
    }

    .responsiveTable thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
        border-bottom: 2px solid #333;
    }

    .responsiveTable tbody tr {
        border: 1px solid #000;
        padding: .25em;
    }

    .responsiveTable td.pivoted {
        /* Behave like a "row" */
        border: none !important;
        position: relative;
        padding-left: calc(50% + 10px) !important;
        text-align: left !important;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }

    .responsiveTable td .tdBefore {
        /* Now like a table header */
        position: absolute;
        display: block;

        /* Top/left values mimic padding */
        left: 1rem;
        width: calc(50% - 20px);
        white-space: pre-wrap;
        overflow-wrap: break-word;
        text-align: left !important;
        font-weight: 600;
    }
}